{% extends 'base.html.twig' %}

{% block title %}Modifier le Musee {{ musee.nomMus }}{% endblock %}

{% block body %}
    <h3 class="ml-4">Editer le musée {{ musee.nomMus }}</h3>

    {{ include('musee/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <form method="post" action="{{ path('musee_delete', {'id': musee.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimé ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musee.id) }}">
        <button class="btn btn-danger ml-4">Supprimer</button>
    </form>

    <a href="{{ path('musee_index') }}" class="btn btn-warning m-4">Retour à l'index</a>
{% endblock %}
